@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
.projects-container {
   background: rgb(26, 26, 26);
   height: 100vh;
   display: flex;
   flex-direction: column;
   gap: 5%;
   
   justify-content: center;
   align-items: center;
}


.icone1 h4 {
   font-family: 'Fira Code', cursive !important;

}

.card a {
   height: 100%;
}

.card-container {
   height: 100vh;
   gap: 0px;
   width: 80vw;
   display: flex;
   flex-wrap: wrap;
   /* justify-content:space-between; */
   gap: 25px;
   padding-bottom: 100px;
}

.card {
   /* margin:5px; */
   background-color: rgba(35, 35, 35, 1);
   display: flex;
   flex-direction: column;
   border-radius: 10px;
   width: 31%;
   height: 50%;
   color: rgb(180, 180, 180);
   transition: ease 0.2s;
}

.card img {
   margin-top: -100px;
   align-self: flex-start;
   background-color: white;
   border-radius: 50%;
   width: 70px;
   height: 70px;
   border: 7px solid rgb(15, 15, 15);
   transition: ease 0.25s;
}





.card:hover {
   background-color: rgba(70, 70, 70, 0.8);
   padding: 7px;
}

.card:hover img {
   width: 80px;
   height: 80px;
}
@media only screen and (max-width: 986px) {

   .card-container{
      gap: 0;
      height: 100vh;
      margin-top: 0;
      flex-wrap: nowrap;
      overflow-x: scroll;
      height: 60vh;
      padding: 15px;
      align-items: center;
      width: 350px;
      height: 550px;
   }
   .card {
      margin: 30px;
      min-width: 85%;
   }
   .icone1 {
      margin-bottom: 0px;
      font-size: 22px;
   }
   .projects-container .icone1 {
      padding: 10px;
      padding-top: 20px;
   }
   .items-cont{
      height: 60% !important;
      word-wrap:normal !important;
   }
   .items-cont p {
      word-wrap: break-word;
   }
   .card img {
      margin-top: -60px;
      margin-bottom: 0px;
      height: 90px;
      width: 90px;
   }
   .card:hover img {
      width: 90px;
      height: 90px;
   }
}
