@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
.projects-container {
   background: rgb(26, 26, 26);
   height: 120vh;
   /* overflow: hidden; */
   /* width: 100vw; */
}
.icone1 {
   padding-top: 10px;
   display: block;
   font-size: 40px;
   margin-bottom: 90px;
}

.icone1 h4 {
   font-family: 'Fira Code', cursive !important;

}

.card a {
   height: 100%;
}

.card-container {
   display: flex;
   height: 100vh;
   padding: 50px;
   gap: 50px;
   flex-wrap: wrap;
   margin: auto;
   justify-content: center;
}

.card {
   background-color: rgba(39, 39, 39, 1);
   display: flex;
   flex-direction: column;
   border-radius: 10px;
   width: 28%;
   height: 370px;
   color: rgb(180, 180, 180);
   transition: ease 0.2s;
}

.card img {
   margin-top: -100px;
   align-self: flex-start;
   background-color: white;
   border-radius: 50%;
   width: 110px;
   height: 110px;
   border: 7px solid rgb(15, 15, 15);
   padding: 5px;
   transition: ease 0.25s;
}

.card div {
   font-size: 16px;
   margin: 20px;
   color: rgb(160, 160, 160);
   background-color: rgba(30, 30, 30, 0.55);
   border-radius: 10px;
   padding: 10px;
}



.card:hover {
   background-color: rgba(70, 70, 70, 0.8);
   padding: 7px;
}

.card:hover img {
   width: 117px;
   height: 117px;
}
