.about-container {
	background: rgb(34, 34, 34);
	background: radial-gradient(circle, rgba(34, 34, 34, 1) 10%, rgba(17, 17, 17, 1) 90%);
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.apresentacao {
	z-index: 1;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	flex-direction: column;
}

.static-txt {
	justify-self: flex-start;
	align-self: flex-start;
	color: rgb(160, 160, 160);
	font-size: 1.8em;
	font-weight: 400;
}

.dynamic-txt {
	font-size: 3em;
	width: fit-content;
	background-clip: text;
	color: #ff6666;
	letter-spacing: 3px;
	word-wrap: break-word;
}

.typewriter {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0.07em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	animation: typing 3.5s steps(60, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: rgb(160, 160, 160);
	}
}

.aux {
	padding: 0;
	display: flex;
}

.aux ul {
	display: flex;
	gap: 50px;
	list-style: none;
	color: rgb(160, 160, 160);
	letter-spacing: 1.2px;
	justify-content: space-around;
}

.aux ul li:hover {
	color: #ff6666;
}

.aux ul li {
	font-size: 1.2em;
	margin: 50px;
	margin-top: 0;
	cursor: pointer;
	transition: 350ms ease;
}

.apresentacao p {
	color: rgb(160, 160, 160);
	font-size: 1.2em;
	align-self: flex-start;
	justify-self: flex-start;
}

.apresentacao p,
h1 {
	font-family: "Open Sans" !important;
}

#menu-background-pattern {
	background-image: radial-gradient(rgba(255, 255, 255, 0.099) 5%, transparent 5%);
	background-position: 0% 0%;
	background-size: 3vmin 3vmin;
	height: 100vh;
	left: 0px;
	position: absolute;
	top: 0px;
	transition: opacity 800ms ease, background-size 800ms ease, background-position 800ms ease;
	width: 100vw;
	z-index: -1;
}

@media only screen and (max-width: 986px) {
	.nav-container {
		display: none !important;
	}
	.about-container {
		margin: 0;
		padding: 0;
		height: 100vh;
		width: 100%;
		flex-direction: column;
	}
	.apresentacao {
		height: 100%;
		width: 80%;
		gap: 20px;
		display: flex;
		word-wrap: break-word;
		align-self: auto;
		padding: 0;
	}
	.dynamic-txt {
		margin: 0;
		font-size: 1.1rem;
	}
	.static-txt {
		font-size: 0.8rem;
	}
	.t {
		display: none;
	}
	.apresentacao p {
		margin: 0;
		font-size: 0.9rem;
	}
	.apresentacao h1 {
		letter-spacing: 1px;
	}
	.aux {
		align-self: center;
		justify-self: center;
	}
	.aux ul {
		align-self: center;
		justify-self: center;
		flex-direction: column;
	}
	.aux ul li {
		margin: 0;
		color: rgb(160, 160, 160);
		cursor: pointer;
		font-size: 0.7rem;
		text-transform: capitalize;
	}
}
