.about-container {
	background: rgb(34, 34, 34);
	background: linear-gradient(55deg, rgba(34, 34, 34, 1) 20%, rgba(17, 17, 17, 1) 71%);
	height: 100vh;
	display: flex;
}

.static-txt {
	align-self: center;
	color: rgb(160, 160, 160);
	font-size: 1.8em;
	font-weight: 400;
}

.dynamic-txt {
	margin-left: 70px;
	font-size: 2.3em;
	width: 100%;
	background-clip: text;
	background: -webkit-linear-gradient(45deg, rgb(160, 143, 143), #ff6666);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.apresentacao {
	z-index: 1;
	padding: 5px;
	width: 50%;
	margin: 40px;
	align-self: center;
	flex-direction: column;
}

.t {
	margin: 50px;
	background-image: url("C:\Users\Vinicius\Documents\Projects\web-portfolio\react-portfolio\public\assets\imgs\coding-.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 1000px;
	border-radius: 10px;
}

.aux {
	padding: 0;
	display: flex;
}

.aux ul {
	display: flex;
	gap: 50px;
	list-style: none;
	color: rgb(160, 160, 160);
	letter-spacing: 1.2px;
	justify-content: space-around;
}

.aux ul li:hover  {
	color: #ff6666
	
}

.aux ul li {
	font-size: 1.2em;
	margin: 50px;
	margin-top: 0;
	cursor: pointer;
	transition: 350ms ease;
}

.apresentacao p {
	color: rgb(160, 160, 160);
	font-size: 1.2em;
}

.apresentacao p,
h1 {
	font-family: "Open Sans" !important;
}

#menu-background-pattern {
	background-image: radial-gradient(
	  rgba(255, 255, 255, 0.039) 9%, 
	  transparent 9%
	);
	background-position: 0% 0%;
	background-size: 4vmin 4vmin;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	transition: opacity 800ms ease, 
	  background-size 800ms ease,
	  background-position 800ms ease;
	width: 100%;
	z-index: -1;
  }
   

@media only screen and (max-width: 986px) {
	.nav-container {
		display: none !important;
	}
	.about-container {
		margin: 0;
		padding: 0;
		height: 100vh;
		width: 100%;
		flex-direction: column;
	}
	.apresentacao {
		width: 80%;
		display: inline-block;
		word-wrap: break-word;
		align-self: auto;
		padding: 0;
	}
	.dynamic-txt {
		margin: 0;
		font-size: 22px;
	}
	.static-txt {
		font-size: 18px;
	}
	.t {
		display: none;
	}
	.apresentacao p {
		font-size: 16px;
	}
	.apresentacao h1 {
		letter-spacing: 1px;
	}

	.aux {
		display: flex;
		text-align: center;
		align-self: center;
		align-content: center;
		justify-content: center;
		font-size: 16px;
	}
	.aux ul {
		align-self: center;
		width: 250px;
		display: flex;
		gap: 50px;
		flex-wrap: wrap;
		text-align: center;
		align-self: center;
		align-content: center;
		justify-content: center;
	}
	.aux ul li a {
		color: rgb(160, 160, 160);
		cursor: pointer;
		text-transform: capitalize;
	}
}
