ul {
   width: 100%;
   list-style: none;
   display: flex;
   gap: 25px;
}

.nav-container {
   position: fixed;
   width: 100%;
   z-index: 3;
   background: rgba(26, 26, 26);
   height: 9%;
   /* border-bottom: 2px solid #ff66666d; */
   align-items: center;
   display: flex  ;
   gap: 35px;
   flex-direction: row;
   justify-content: space-evenly;
}

.nav-container ul li a {
   color: rgb(160, 160, 160);
   font-size: 20px;
   cursor: pointer;
   text-transform: capitalize;
   transition: 0.2s ease;
   padding: 5px;
}

ul li a:hover {
   color: #ff6666;
   /* border-bottom: 1px solid #ff6666 */
}

.logo {
	background-clip: text;
	background: -webkit-linear-gradient(45deg,rgb(160, 143, 143), #ff5555);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;   font-size: 36px;
}
