ul {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 25px;

}

.nav-container {
    position: fixed;
    width: 100%;
    z-index: 3;
    background: rgba(30, 30, 32);
    height: 65px;
    border-bottom: 2px solid #ff666699;
    align-items: center;
    display: flex;
    gap: 35px;
    flex-direction: row;
    justify-content: space-evenly;

}

ul li {

    color:rgb(160, 160, 160);
    font-size: 1.5vw;    
    cursor: pointer;
    text-transform: capitalize;
    transition: .2s ease;
    padding: 5px;

}

ul li:hover {

    color: #ff6666;
    /* border-bottom: 1px solid #ff6666 */


}

.logo {
    color: #ff6666;
    font-size: 2vw;
}